<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSLX Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="60" >

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <a class="nav-link" href="index.html">
        <h1>PSLX Backend</h1>
    </a><h1><small>Proto Viewer, File Viewer and Containers.</small></h1>
</div>

<ul class="nav justify-content-center nav-pills navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="proto_viewer.html">
        <i class="fa fa-file"></i>
        <span>Proto Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="proto_table_viewer.html">
        <i class="fa fa-database"></i>
        <span>Proto Table Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="file_viewer.html">
        <i class="fa fa-archive"></i>
        <span>File Viewer</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="container_backend.html">
        <i class="fa fa-table"></i>
        <span>Container Backend</span></a>
    </li>
</ul>

<!-- Contact Form - START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset>
                       <legend class="text-center header">{{ container_name }} Log Info</legend>
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="container_info_table" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Log Directory</th>
                                  <th>Container Start Time (PST)</th>
                                  <th>Container End Time (PST)</th>
                                </tr>
                              </thead>
                                <tbody>
                                  <tr>
                                    <td>{{ container_info['log_dir'] }}</td>
                                    <td>{{ container_info['start_time'] }}</td>
                                    <td>{{ container_info['end_time'] }}</td>
                                  </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                        <legend class="text-center header">{{ container_name }} Counter Info</legend>
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="counters_info_table" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Counter Name</th>
                                  <th>Count</th>
                                </tr>
                              </thead>
                                {% for counter_info in container_info['counter_info'] %}
                                <tbody>
                                  <tr>
                                    <td>{{ counter_info['name'] }}</td>
                                    <td>{{ counter_info['count'] }}</td>
                                  </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                          </div>
                        </div>
                      </div>
                        <legend class="text-center header">{{ container_name }} Operator Info</legend>
                      <div class="card mb-3">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="operators_info_table" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Operator Name</th>
                                  <th>Num Dependencies</th>
                                  <th>Dependencies</th>
                                  <th>Status</th>
                                  <th>Operator Start Time (PST)</th>
                                  <th>Operator End Time (PST)</th>
                                </tr>
                              </thead>
                              {% for operator_info in operators_info %}
                                <tbody>
                                  <tr>
                                    <td>{{ operator_info['operator_name'] }}</td>
                                    <td>{{ operator_info['num_of_dependencies'] }}</td>
                                    <td>{{ operator_info['dependencies'] }}</td>
                                    {% if operator_info['status'] == "FAILED" %}
                                        <td><font color="red">{{ operator_info['status'] }}</font></td>
                                    {% elif operator_info['status'] == "SUCCEEDED" %}
                                        <td><font color="green">{{ operator_info['status'] }}</font></td>
                                    {% elif operator_info['status'] == "RUNNING" %}
                                        <td><font color="blue">{{ operator_info['status'] }}</font></td>
                                    {% elif operator_info['status'] == "WAITING" %}
                                        <td><font color="lime">{{ operator_info['status'] }}</font></td>
                                    {% else %}
                                        <td><font color="purple">{{ operator_info['status'] }}</font></td>
                                    {% endif %}
                                    <td>{{ operator_info['start_time'] }}</td>
                                    <td>{{ operator_info['end_time'] }}</td>
                                  </tr>
                                </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>
                      </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>

<!-- Contact Form - END -->

</div>

</body>
</html>