<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSLX Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="refresh" content="60" >

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <a class="nav-link active" href="index.html">
        <h1>PSLX Backend</h1>
    </a><h1><small>Proto Viewer, File Viewer, Containers and Realtime Logging.</small></h1>
</div>
<ul class="nav justify-content-center nav-pills navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="proto_viewer.html">
        <i class="fa fa-file"></i>
        <span>Proto Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="proto_table_viewer.html">
        <i class="fa fa-database"></i>
        <span>Proto Table Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="file_viewer.html">
        <i class="fa fa-archive"></i>
        <span>File Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="container_backend.html">
        <i class="fa fa-table"></i>
        <span>Container Backend</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="realtime_logging.html">
        <i class="fa fa-desktop"></i>
        <span>Realtime Logging</span></a>
    </li>
</ul>

<!-- Contact Form - START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" action="view_file">
                    <fieldset>
                      <div class="card mb-3">
                        <div class="card-header">
                          <i class="fa fa-table bigicon"></i>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="file_tree_table" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Service Name</th>
                                  <th>Binded RPC Server IP</th>
                                  <th>Binded RPC Server Port</th>
                                  <th>Server Status</th>
                                  <th>Server QPS</th>
                                </tr>
                              </thead>
                              {% for service in service_info %}
                                <tbody>
                                  <tr>
                                    <td>{{ service['name'] }}</td>
                                    <td>{{ service['server'] }}</td>
                                    <td>{{ service['port'] }}</td>
                                    {% if service['status'] == "FAILED" %}
                                        <td><font color="red">{{ service['status'] }}</font></td>
                                    {% else %}
                                        <td><font color="blue">{{ service['status'] }}</font></td>
                                    {% endif %}
                                    <td>{{ service['qps'] }}</td>
                                  </tr>
                                </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>
                      </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>

<!-- Contact Form - END -->

</div>

</body>
</html>