<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PSLX Backend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/font-awesome/css/font-awesome.min.css"/>

    <script type="text/javascript" src="static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <a class="nav-link" href="index.html">
        <h1>PSLX Backend</h1>
    </a><h1><small>Proto Viewer, File Viewer, Containers and Realtime Logging.</small></h1>
</div>

<ul class="nav justify-content-center nav-pills navbar-right">
    <li class="nav-item">
      <a class="nav-link" href="proto_viewer.html">
        <i class="fa fa-file"></i>
        <span>Proto Viewer</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="proto_table_viewer.html">
        <i class="fa fa-database"></i>
        <span>Proto Table Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="file_viewer.html">
        <i class="fa fa-archive"></i>
        <span>File Viewer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="container_backend.html">
        <i class="fa fa-table"></i>
        <span>Container Backend</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="realtime_logging.html">
        <i class="fa fa-desktop"></i>
        <span>Realtime Logging</span></a>
    </li>
</ul>

<!-- Contact Form - START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="POST" action="view_proto_table">
                    <fieldset>
                        <legend class="text-center header">Enter proto table information</legend>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-link bigicon"></i></span>
                            <div class="col-md-9">
                                <select name="server_url" class="form-control">
                                 {% for server_url in server_urls %}
                                    <option value="{{ server_url }} ">{{ server_url }}</option>
                                {% endfor %}
                              </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-file bigicon"></i></span>
                            <div class="col-md-9">
                                <input id="proto_table_path" name="proto_table_path" type="text" placeholder="proto table path" class="form-control" value="{{ request.form['proto_table_path'] }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-comments bigicon"></i></span>
                            <div class="col-md-9">
                                <input id="value_type" name="value_type" type="text" placeholder="value type" class="form-control" value="{{ request.form['value_type'] }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-1 text-center"><i class="fa fa-archive bigicon"></i></span>
                            <div class="col-md-9">
                                <input id="module" name="module" type="text" placeholder="module" class="form-control" value="{{ request.form['module'] }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                              <i class="fa fa-table bigicon"></i>
                            </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table table-bordered" id="file_tree_table" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>Entry Key</th>
                                      <th>Entry Value</th>
                                    </tr>
                                  </thead>
                                  {% for proto_content in proto_contents %}
                                    <tbody>
                                      <tr>
                                          <td><pre>{{ proto_content['key'] }}</pre></td>
                                          <td><pre>{{ proto_content['val'] }}</pre></td>
                                      </tr>
                                    </tbody>
                                  {% endfor %}
                                </table>
                              </div>
                            </div>
                          </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>

<!-- Contact Form - END -->

</div>

</body>
</html>