<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="60" >
    <title>Container Backend | PSLX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <a class="nav-link" href="index.html">
        <h1>PSLX Container Backend</h1>
    </a><h1><small>View container status from browser</small></h1>
</div>

<!-- Contact Form - START -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal">
                    <fieldset>
                      <div class="card mb-3">
                        <div class="card-header">
                          <i class="fa fa-table bigicon"></i>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-bordered" id="file_tree_table" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Mode</th>
                                  <th>Data Model</th>
                                  <th>Container</th>
                                  <th>Status</th>
                                  <th>Updated Time</th>
                                </tr>
                              </thead>
                              {% for container_info in containers_info %}
                                <tbody>
                                  <tr>
                                    <td>{{ container_info['mode'] }}</td>
                                    <td>{{ container_info['data_model'] }}</td>
                                    <td><a href="{{ url_for('view_container', container_name=container_info['container_name'], mode=container_info['mode'], data_model=container_info['data_model']) }}">{{ container_info['container_name'] }}</a></td>
                                    <td>{{ container_info['status'] }}</td>
                                    <td>{{ container_info['updated_time'] }}</td>
                                  </tr>
                                </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>
                      </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
</style>

<!-- Contact Form - END -->

</div>

</body>
</html>